.header {
  background-color: var(--headerBgColor);
  box-shadow: var(--headerShadowColor);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 15px;
}
