.contactList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.contactItem {
  flex-basis: fit-content;
  padding: 15px;
  background-color: var(--secondAccentColor);
  color: var(--textColor);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
}

.overflow {
  word-wrap: break-word;
}

.telNumber {
  font-weight: 600;
  font-size: 15px;
}

.deleteContactBtn {
  background-color: var(--deleteBtnBgColor);
  color: var(--textColor);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.deleteContactBtn:is(:hover, :focus) {
  background-color: var(--mainAccentColor);
}
