.userContainer {
  display: flex;
  gap: 25px;
  background-color: var(--secondAccentColor);
  color: var(--textColor);
  padding: 8px;
  border-radius: 8px;
  align-items: center;
}

.userName {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.logoutButton {
  background-color: var(--deleteBtnBgColor);
  color: var(--textColor);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.logoutButton:is(:hover, :focus) {
  background-color: var(--mainAccentColor);
}
